NODE_ENV=xxxxxxxxxxxxxxxxxx
PORT=xxxxxxxxxxxxxxxxxx
DATABASE_URL=xxxxxxxxxxxxxxxxxx
JWT_ACCESS_SECRET=xxxxxxxxxxxxxxxxxx
BCRYPT_SALT_ROUND=xxxxxxxxxxxxxxxxxx
ACCESS_EXPIRES_IN=xxxxxxxxxxxxxxxxxx
REFRESH_EXPIRES_IN=xxxxxxxxxxxxxxxxxx
JWT_REFRESH_SECRET=xxxxxxxxxxxxxxxxxx